# Ignorere all in .vscode-folder…
.vscode/*
# …but allow specific files
!.vscode/settings.json
!.vscode/extensions.json
!.vscode/launch.json
!.vscode/tasks.json

__pycache__/
*.pyc
*.pyo
!docs/complexity_report.html
.qodo/testConfig.toml
.DS_Store
.env
*-log.txt
terminal.log
.backup
.coverage
complexity_report*.html
kpi_report*.html
labs
.venv/* 
venv
labs/*
dummy.html
*report*.json
some_file.py
issue--*.md
issue-fix--*.md
​​git_log.txt
hotspots.txt
review_strategy.txt
coverage.xml
review_*.txt
