__pycache__/
*.pyc
*.pyo
!docs/complexity_report.html
.qodo/testConfig.toml
.DS_Store
.env
.vscode/*
.vscode/settings.json
*-log.txt
terminal.log
.backup
.coverage
complexity_report*.html
kpi_report*.html
labs
.venv/* 
venv
labs/*
dummy.html
